body {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	padding: 0;
	background: rgb(36, 39, 58);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: rgb(202, 211, 245);
	overflow-x: hidden;
}

.hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: brightness(60%);
}

.hero-content {
	position: relative;
	text-align: left;
	margin: 0.625rem;
	justify-content: left;
	align-items: left;
	position: absolute;
	background: rgba(73, 77, 100, 0.4);
	box-shadow: rgb(73 77 100 / 37%) 0px 3.2px 7.2px 0px, rgb(73 77 100 / 35%) 0px 0.6px 1.8px 0px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 1rem;
	width: auto;
	height: auto;
}

.hero-title {
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 0;
}

.hero-subtitle {
	font-size: 1.5rem;
	font-weight: 200;
	margin-top: 1rem;
}

.centerimg {
	transition: all 10s ease-in-out;
	height: 72px;
	width: 72px;
	border-radius: 100%;

}

.scroll-down {
	position: absolute;
	left: calc(50% - 6.5px);
	bottom: 50px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 0;
	text-decoration: none;
	text-shadow: 0;
	width: 13px;
	height: 13px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: translate(-50%, 0) rotate(45deg);
	transform: translate(-50%, 0) rotate(45deg);
	animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
	0% {
		transform: translate(0, -20px) rotate(45deg);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate(0, 20px) rotate(45deg);
		opacity: 0;
	}
}

.premain {
	position: relative;
	width: 100vw;
	height: 150vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	justify-content: center;
	position: absolute;
	background: rgba(73, 77, 100, 0.4);
	box-shadow: rgb(73 77 100 / 37%) 0px 3.2px 7.2px 0px, rgb(73 77 100 / 35%) 0px 0.6px 1.8px 0px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 1rem;
	width: 85%;
	height: auto;
}

.mainContent {
	display: grid;
	width: 100%;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	justify-content: center;
	align-items: center;
	margin: auto 0;
}

.top {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
}

.left-side,
.right-side {
	width: 48%;
}

.left-side {
	text-align: left;
}

.right-side {
	text-align: right;
	display: none;
	flex-direction: column;
	justify-content: right;
	align-items: center;
}


.gradient {
	background: -webkit-linear-gradient(#8aadf4, rgb(152, 195.5, 196.5), #a6da95);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.tile {
	background: rgba(128, 135, 162, 0.4);
	box-shadow: rgb(128 135 162 / 37%) 0px 3.2px 7.2px 0px, rgb(128 135 162 / 35%) 0px 0.6px 1.8px 0px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 1rem;
	width: 90%;
	height: auto;
}

.tilenottop {
	margin-top: 5%;
}

.section-1 {
	background: rgba(166, 218, 149, 0.4);
	box-shadow: rgb(166 218 149 / 37%) 0px 3.2px 7.2px 0px, rgb(166 218 149 / 35%) 0px 0.6px 1.8px 0px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 1rem;
	width: 90%;
	height: auto;
	padding: 5px;
	grid-area: section-1;
}

.section-2 {
	background: rgba(238, 212, 159, 0.4);
	box-shadow: rgb(238 212 159 / 37%) 0px 3.2px 7.2px 0px, rgb(238 212 159 / 35%) 0px 0.6px 1.8px 0px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 1rem;
	width: 90%;
	height: auto;
	padding: 5px;
	grid-area: section-2;
}

.section-3 {
	/* padding-top: 5px; */
	background: rgba(237, 135, 150, 0.4);
	box-shadow: rgb(237 135 150 / 37%) 0px 3.2px 7.2px 0px, rgb(237 135 150 / 35%) 0px 0.6px 1.8px 0px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 1rem;
	width: 95%;
	height: auto;
	padding: 5px;
	grid-area: section-3;
}

.profile {
	background: rgba(147, 154, 183, 0.4);
	box-shadow: rgb(147 154 183 / 37%) 0px 3.2px 7.2px 0px, rgb(147 154 183 / 35%) 0px 0.6px 1.8px 0px;
	border-radius: 8px;
	overflow: hidden;
	padding: 1rem;
	width: 90%;
	height: auto;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
}

.profile a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.profile img {
	width: 50px;
	height: 50px;
	margin-right: 1rem;
}

.profile h2 {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0;
	color: rgb(202, 211, 245);
	text-decoration: none;
}

.skills {
	display: grid;
	width: 100%;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	justify-content: center;
	align-items: center;
	grid-template-areas:
		"section-1 section-2"
		"section-3 section-3";
	margin: auto 0;
}

.music-player {
	background-color: #363a4f;
	color: white;
	border-radius: 10px;
	min-width: 350px;
	padding: 20px;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.player-header {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}

.album-cover {
	margin-right: 15px;
}

.album-cover img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	object-fit: cover;
	animation: spin 7.5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.song-info {
	text-align: left;
}

.player-header h2 {
	font-size: 18px;
	margin-bottom: 2px;
}

.song-title {
	font-size: 14px;
	color: #aaa;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	white-space: normal;
}

.progress {
	width: 100%;
	color: blue;
}

/* Loader */
.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #111;
	opacity: 1;
	transition: opacity 1s ease-in-out;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9998;
	pointer-events: none;
}

.loader.hidden {
	opacity: 0;
	pointer-events: none;
}

.loader__name {
	font-size: 60px;
	color: #fff;
	animation: moveName 1s ease-in-out forwards;
	animation-delay: 0.5s;
	opacity: 0;
	top: 50%;
	left: 50%;
}

@keyframes moveName {
	0% {
		opacity: 0;
		rotate: 0deg;
		font-size: 60px;
	}

	100% {
		opacity: 1;
		rotate: 360deg;
		font-size: 30px;
	}
}

.progress-time {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: #aaa;
	margin-top: 5px;
}

/* Screensavers */
#screensaver {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	transition: opacity 0.5s;
	pointer-events: none;
	z-index: 9999;
}

marquee {
	height: 100vh;
}

.screensaverMusic {
	position: fixed;
	display: none;
	top: 0%;
	right: 0%;
	transform: none;
	color: white;
	font-size: 24px;
	text-align: center;
	max-width: 30vw;
	box-sizing: border-box;
	margin: 32px;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	overflow: hidden;
	padding: 1rem;
	opacity: 1;
	transition: opacity 2s ease-in-out;
}

.ss-album-cover img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

#ss-song-title {
	display: -webkit-box;
		-webkit-line-clamp: 1;
		line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		white-space: normal;
}

#ss-song-name {
	display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		white-space: normal;
}