btn:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.5), 0 0 0 5px rgba(79,161,167,0.3);
}
.blockscreen {
  pointer-events: none;
}
.blockscreen btn {
  right: 50%;
  bottom: 50%;
  width: 142vmax;
  height: 142vmax;
  margin: -71vmax;
  background-size: 90px;
  background-position: 50% 50%;
  background-color: transparent;
  box-shadow: none;
  pointer-events: none;
  transition: all .5s;
}

btn:active {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
    transform: translateZ(0px) scale(0.9);
}

btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
    background-image: url("https://awashcard0.pages.dev/home-thing/dark.svg");
}

btn, .blockscreen btn:hover {
    background-image: url("https://awashcard0.pages.dev/home-thing/light.svg");
}

btn {
    display: block;
    position: fixed;
    z-index: 1000;
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: 45px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    right: 10px;
    bottom: 10px;
    transform: translateZ(0px);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    transition: all 0.2s ease 0s;
}

#userThing {
    display: block;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: 45px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    right: 85px;
    bottom: 25px;
    transform: translateZ(0px);
    background-repeat: no-repeat;
    background-position: 50% 80%;
    transition: all 0.2s ease 0s;
    color: white;
}

.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout h1 {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

.callout-main {
  padding: 15px;
  background-color: #ccc;
  color: black
}

.callout-closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.callout-closebtn:hover {
  color: lightgrey;
}